<!doctype html>
<html lang="en"  xmlns:th="http://www.thymleaf.org">
<head>
    <title>Login 05</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/login/css/style.css">
    <!-- Vendor CSS Files -->
    <link href="../assets/vendor/aos/aos.css" rel="stylesheet"/>
    <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet"/>
    <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet"/>
    <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet"/>
    <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet"/>
    <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet"/>

    <!-- Template Main CSS File -->
    <link href="../assets/css/style.css" rel="stylesheet"/>

</head>
<body>
<form id="form1" runat="server">
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center">
            <style>
             header{
                background-color: rgba(0, 0, 128, 1);
                }
            </style>
            <h1 class="logo me-auto"><a href="index.aspx">Calculations</a></h1>



            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto" href="/">Home</a></li>
                    <li><a class="nav-link scrollto" href="/login">Login</a></li>
                    <li><a class="nav-link scrollto active" href="/registration">Registration</a></li>

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
</form>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Registration </h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="wrap">
                    <div class="img" style="background-image: url(images/bg-1.jpg);"></div>
                    <div class="login-wrap p-4 p-md-5">
                        <div class="d-flex">
                            <div class="w-100">
                                <h3 class="mb-4">Registration</h3>
                            </div>
                            <div class="w-100">
                                <p class="social-media d-flex justify-content-end">
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-facebook"></span></a>
                                    <a href="#" class="social-icon d-flex align-items-center justify-content-center"><span class="fa fa-twitter"></span></a>
                                </p>
                            </div>
                        </div>
                        <form class="signin-form" th:action="@{/registration}" method="post" th:object="${request}">

                            <div class="form-group mt-3">

                                <input type="text" id=firstName class="form-control" th:field="*{firstName}" >
                                <label class="form-control-placeholder" >FirstName</label>
                            </div>

                            <div class="form-group mt-3">

                                <input type="text" id=lastName class="form-control" th:field="*{lastName}" >
                                <label class="form-control-placeholder" >LastName</label>
                            </div>

                            <div class="form-group mt-3">

                                <input type="text" id=email  class="form-control" th:field="*{email}" >
                                <label class="form-control-placeholder" >Email</label>
                            </div>





                            <div class="form-group mt-3">

                                <input type="text" id=password  class="form-control" th:field="*{password}" >
                                <label class="form-control-placeholder" >Password</label>
                            </div>



                            <div class="alert alert-danger" th:each="err : ${#fields.errors('all')}" th:text="${err}"></div>




                            <div class="form-group">
                                <button type="submit" class="form-control btn btn-primary rounded submit px-3">Register</button>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/login/js/jquery.min.js"></script>
<script src="/login/js/popper.js"></script>
<script src="/login/js/bootstrap.min.js"></script>
<script src="/login/js/main.js"></script>

</body>
</html>

